<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Segundo paso</title>
</head>
<body>

<form th:action="@{/seguros/calculos/cotizacion/paso3}"
      th:object="${cotizacionSeguro}"
      method="post">

    <label for="marca"> Marca:</label>
    <input id="marca" type="text" th:field="*{marca}"/>

    <label for="modelo"> Modelo:</label>
    <input id="modelo" type="text" th:field="*{modelo}"/>

    <label for="anioMat"> Año de Matriculacion</label>
    <input id="anioMat" type="text" th:field="*{anioMat}"/>


    <label for="usoVeh"> Uso del vehiculo</label>
    <input id="usoVeh" type="radiodio" th:field="*{uso}" value="PRIVADO"/><label for="usoVeh">Privado</label>
    <input id="usoVeh2" type="radio" th:field="*{uso}" value="PROFESIONAL"/><label for="usoVeh">Profesional</label>


    <a href="/seguros/calculos/cotizacion/paso1">
        <button type="button">Anterior</button>

    </a>
    <button>Siguiente</button>


</form>

</body>
</html>